@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Name: custom color palette
         Author: Ilias Ism
         URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: #1266dd;

    --background: 0 0% 96%;
    --foreground: 25 43% 8%;

    --muted: 229 42.5% 14.1%;
    --muted-foreground: 229 8.5% 54.7%;

    --popover: 229 48% 6.109999999999999%;
    --popover-foreground: 25 43% 8%;

    --card: 229 48% 6.109999999999999%;
    --card-foreground: 25 43% 8%;

    --border: 234 13% 91%;
    --input: 234 13% 91%;

    --primary: 229 85% 47%;
    --primary-foreground: 229 8.5% 4.699999999999999%;

    --secondary: -11 92% 60%;
    --secondary-foreground: -11 9.200000000000001% 6%;

    --accent: 229 42.5% 14.1%;
    --accent-foreground: 25 43% 8%;

    --destructive: -8 86% 45%;
    --destructive-foreground: -8 8.6% 97.25%;

    --ring: 229 85% 47%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply text-foreground;
  }
}
